// Global Variables

$brandPrimary : #40C693;

$interfaceBlue : #83AFBA;
$interfaceBlueLight : #D3E6ED;
$interfaceBlueDark : #63848C;

$interfaceRed : #DB8D61;
$interfaceRedLight : #F2D8C7;
$interfaceRedDark : #8F5C40;

$interfaceYellow : #B09E52;
$interfaceYellowLight : #F2E7B8;
$interfaceYellowDark : #87793F;

$black : #1A2326;
$grayDarkest : #404E54;
$grayDarker : #53646B;
$gray : #799099;
$grayLighter : #9EBBC6;
$grayLightest : #D3E6ED;
$white : #FFF;

$dataScaleExtremes : #9385B1, #91E789;
